.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navcontainer {
  background-color: rgb(7, 7, 7);
  color: white;
  width: 100vw;
  text-align: center;
}
.col2 {
  background-color: aliceblue;
  color: black;
  width: 400px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  overflow: scroll;
}

.col1 {
  background-color: aliceblue;
  width: 950px;
  margin-right: 5px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow: scroll;
}
.card-images {
  width: 200px;
  min-height: 200px;
  max-height: 300px;
}
.card-containers {
  width: 200px;
  min-height: 500px;
  margin-top: 20px;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.cart-img {
  width: 200px;
  height: 200px;
}
.carditems {
  display: flex;
  gap: 0.5rem;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
